// import your files into one main css file to compile, for example
// don't forget to start filenames with '_', e.g. '_mixins', '_styles', etc.

/* @import "variables";
@import "mixins";
@import "base";
@import "modules"; */

nav.navbar-inverse h1.navbar-brand { color: #BACFDF;}
#background {
	display: block;
	position: fixed;
	top: 100px;
	left: 0px;
	height: 650px;
	width: 50%;
	background: url('../img/altman-akhmatova.jpg') no-repeat top;
	opacity: .5;
}
iframe#visualization{
	height: 700px;
	width: 850px;
	border: 1px #000 solid;
	z-index: 100;
}
#main{ margin-top: 9%; font-size: 2em;}

//For adding spacing between buttons
.btn{
  margin: 0 4px;
}


body {
   padding-top: 65px;
}

.CodeMirror {
  border: 1px solid #eee;
  min-width: 450px;
  min-height: 400px;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

#visualization-modal-body{
text-align: center
}

