// import your files into one main css file to compile, for example
// don't forget to start filenames with '_', e.g. '_mixins', '_styles', etc.

/* @import "variables";
@import "mixins";
@import "base";
@import "modules"; */

nav.navbar-inverse h1.navbar-brand { color: #BACFDF;}
a.navbar-brand { 
	font-weight: 700;
	font-size: 2em; 
	font-style: italic;
	span { font-weight: 300; color: #ddd; font-size: .5em;  } 
}
#getting-started a { color: #F0AD4E;}

#background {
	display: block;
	position: fixed;
	top: 100px;
	left: 0px;
	height: 650px;
	width: 50%;
	background: url('../img/altman-akhmatova.jpg') no-repeat top;
	opacity: .5;
}
iframe#visualization{
	height: 700px;
	width: 850px;
	border: 1px #000 solid;
	z-index: 100;
}

footer.viz-content h3 pre { display: inline-block; margin-bottom: -1em; } 

#main{ margin-top: 9%; font-size: 2em;}

//For adding spacing between buttons
.btn{
  margin: 0 4px;
}

body {
   padding-top: 65px;
}

.CodeMirror {
  border: 1px solid #eee;
  min-width: 450px;
  min-height: 400px;
}
.CodeMirror-scroll {
  min-height: 400px;
  overflow-y: hidden;
  overflow-x: auto;
}

#visualization-modal-body{
text-align: center
}

#newWorkspaceButton{
margin: 0px;
margin-top: 4px;
}

//Fix the width of the button
#lineWrapToggle{
width:126px;
margin-right: 0px;
}

#list_source_container > .btn-group > .btn {
margin-right: 4px;
margin-left: 0px;
margin-bottom: 4px;
}


//Remove responsiveness of navbar
//http://stackoverflow.com/questions/21738417/bootstrap-remove-responsive-from-navbar
@media (max-width: 768px) {
    .navbar-header {
        float: left;
    }

    .navbar {
        border-radius: 4px;
        min-width: 400px;
    }

    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }

    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }

    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }

    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
    .navbar-right .dropdown-menu-left {
        right: auto;
        left: 0;
    }
    .container {
        min-width: 400px;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-static-top {
        border-radius: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
    }

    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        float: none;
        margin-left: 0;
    }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0;
    }

    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
    }
    .navbar-form.navbar-right:last-child {
        margin-right: -15px;
    }

    .navbar-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }
    .navbar-text.navbar-right:last-child {
        margin-right: 0;
    } 
}

//Spinner
.spinner {
  margin-top: 39px;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 22px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#waitmodal > .modalcontent{
  height: 100px;
}

// tei viewer modal

	div.modal-body.row{
		background-color: #fff;
		margin: 0px 10px;
		border: 1.5px solid #000;

		h1 { 
			color: #8792ff;
			font-size: 1.5em; }
	}

#tei-base{
	color: #000;
//	float: left;
//	background-color: #fff;
	h3 {color: #8792FF; }
	p span { 
		cursor: pointer;
		text-decoration: underline;
		margin: 0px 1px;
		}	
}
#tei-rdgs {

	@media (min-width: 990px){ 	
	position: absolute;
	top: 3em;
	right: 3em;
	padding: 10px;
	}
	ul{
		display: none;
		padding: 10px;
		width: 20em;
		list-style: none;
		color: #485563;
		opacity: .75;
		border: 3px solid #485563;
		border-radius: 5px;
		li { padding: 5px 0px; }
		h3 {
			display: inline; 
			font-size: 1em; 
			font-weight: 500;
			color: #8792FF;
			margin-right: 20px;
		}
	}
}
